html{
  font-size: 62.5%;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
header{
  width: 100%;
}
.headre-main{
max-width: 130rem;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
padding: 2rem 0;
}

.logo img{
  width: 100%;
  height: 3rem;

}
.navi ul{
  display: flex;
  gap: 2rem;
  align-items: center;
  list-style: none;

}
.menu i{
  display: none;
}
.fa-bars{
  font-size: 3rem;
}

 
.navi li{
  font-size: 3rem;
}
.mobile-navi{
  display: none;
}
.banner{
  background-image: url(../imgs/pexels-tranmautritam-326503.jpg);
  height: 50rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
.hero{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  
}
.hero-main{
  max-width: 130rem;
  margin: 0 auto;
 
}
.hero-main h4,
.hero-main p{
  width: 50%;
  font-size: 2rem;
   background-color: rgba(0, 0,0, 0.5);
   color: white;
   padding: 1rem 2rem;
}