*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 65.5%;
}
.headre-main{
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.heder-img{
  margin-top: 1rem;
}
.heder-nav{
  margin-top: 2rem;
}
.navi ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2rem;
  list-style: none;
  font-weight: 600;
}
.navi a{
  text-decoration: none;
}


/*hero*/
.hero{
  max-width: 120rem;
  margin: 0 auto;
}
.hero-main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;

}
.hero-text{
  margin: 2rem 0;
   width: 100%;
}
.hero-text h6{
  font-size: 1.5rem;

}
.hero-text h4{
   font-size: 6rem;
}
.hero-desc{
  font-size: 2rem;
  line-height:3rem;
}
.hero-btn{
  padding: 1.5rem 4.5rem;
  margin: 2rem 0rem;
  background-color: blue;
  color: white;
  border-radius: 0.5rem;
}

.hero-img img{
  width: 100%;
  height: 55rem;
}
 /*work*/
 .work{
  background-color: azure;
  padding:2rem;
 }
.work-main{
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.work-text1 h4{
  font-size: 6rem;
}
.work-text2 h4,
.work-text3 h4 {
  font-size: 3rem;
  line-height: 3rem;
}

.work-text2 p,
.work-text3 p {
  font-size: 2rem;
  line-height: 3rem;
  color: rgb(71, 71, 71);
}
/*work2*/
.work2{
  padding: 2rem 0rem;
   background-color: azure;
}
.work2-main{
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.work2-text h4{
  width: 90%;
  font-size: 3rem;
  margin-top: 2rem;
}
.work2-text p{
  font-size: 2.5rem;
  line-height: 3rem;
  color: rgb(71, 71, 71);

}
/*work3*/
.work3{
  padding: 2rem 0rem;
   background-color: azure;
}
.work3-main{
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.work3-first img{
  border-radius:2;
  overflow: hidden;
}
.work3-first p{
  
  font-size: 2rem;
  font-weight: 600;
}

/*price*/
.price{
padding-top: 5rem;
}
.price-main{
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}
.price1 h3, .price2 h3, .price3 h3 {
  font-size: 2rem;
  margin-top: 1.5rem;
}
.price1 p,.price2 p,.price3 p{
  width: 70%;
  font-size: 1.6rem;
  line-height: 2rem;
 
}
.price-list{
  margin: 2rem 0;
  font-size: 2rem;
  line-height: 3rem;
  list-style: none;
}
.price-btn{
  width: 100%;
  padding: 1.5rem 0;
  text-align: center;
  background-color: aliceblue;
  border-radius: 2rem;
}
.price1{
  background-color: blue;
  width: 90%;
  padding-left: 1rem;
 padding-bottom: 4rem;
  padding-top: 2rem;
  border-radius: 2rem;
}
.price2{
  background-color: rgb(22, 242, 139);
  width: 90%;
  padding-left: 1rem;
  padding-bottom: 3rem;
  height: 70%;
  padding-top: 2rem;
  border-radius: 2rem;
}
.price3{
  background-color: rgb(230, 108, 15);
  width: 80%;
  padding:1rem 1rem;
  border-radius: 2rem;
  
}
/* clint-result*/
.clint-main{
  max-width: 120rem;
  margin:2rem  auto;
}
.clint-main1{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.clint-img img{
  width: 100%;
  height: 35rem;
  border-radius: 2rem;
}
.clint-text p , h3 {
font-size: 2rem;
margin: 2rem 2rem; 
line-height: 2rem;
}
.clint-main2{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.clint-main2text h4 ,
.clint-main2text p{
font-size: 2rem;
margin: 2rem 2rem; 
line-height: 2rem;

}
.clint-main2img img{
  width: 100%;
  height: 35rem;
  border-radius: 2rem;
}
.footer1{
  width: 100%;
  background-color: azure;
}
.footer-main{
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.footer-det h4{
  font-size: 3rem;
  margin-bottom: 2rem;
  padding-left: 2rem;
}
.footer-det p{
  font-size: 2rem;
  line-height: 3rem;
  width: 100%;
}
.fa-phone,
.fa-envelope,
.fa-mobile-screen-button,
.fa-location-dot{
  font-size: 3rem;
  padding-right: 1.5rem;
  color: rgb(0, 0, 0);
}
.call span,
.mail span,
.mobile span,
.adress span
 {
  font-size: 2rem;
  color: rgb(0, 0, 0);
}
.contacts{
  display: grid;
  grid-template-columns: 1fr 1fr;
   gap: 3rem;
}

.forms{
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  background-color: antiquewhite;
  padding: 2rem 0;          /* all sides */
  height: 80%; 
  padding-right: 2rem;
  border-radius: 2rem;
  margin-top: 2rem;
}
.forms input{
  width: 100%;
  padding: 2rem 0;
  margin: 2rem 1rem;
  border-radius: 2rem;
}
.forms textarea{
  width: 100%;
  padding: 2rem 0;
  margin: 2rem 1rem;
  border-radius: 2rem;
}
.forms label{
  font-size: 2rem;
  font-weight: 500;
  padding-left: 1rem;
  font-weight: 600;
}
.forms button{
  margin-left: 1rem;
  padding: 1rem 4rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
  background-color: blue;
  color: aliceblue;
}