html{
    font-size: 48%;
}
html,
body{
    overflow-x: hidden;
}  

@media (max-width :66em){
    .hero-main {
  grid-template-columns:1fr;

    }
    .hero-img {
  width: 90%;
}
.hero-main button{
    padding: 0.4rem 2rem;

}
.capabilitty-main{
    flex-direction: column;
}
.cap2{
    flex-direction: column;
   
}
.features-main{
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.service-headline{
    align-items: center;
}
.service-main{
    grid-template-columns: 1fr;
}
.service-img img{
    height:50rem ;
}
.footer-main{
    
    grid-template-columns: 1fr 1fr;
    
}
.nav-link{
    
    flex-direction: column;
}
}