html{
  font-size:62.5%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.headre1{
  background: linear-gradient(to right, #17acdd, #85b5b8);
  width: 100%;
}
.headr-main{
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:3rem;
  font-size: 2rem;
}
.headr-logo h4{
  color: #ffffff;
  font-weight: 600;
  font-size: 3rem;
}

#menu-toggle {
  display: none; /* hide checkbox */
}

.menu-btn {
  display: none; /* hidden on desktop */
  font-size: 3rem;
  color: white;
  cursor: pointer;
}
.headr-nav ul{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  justify-items: end;
  list-style: none;
  color: #ffffff;
  font-weight: 600;

}
/*hero*/
.hero{
  width: 100%;
  background: linear-gradient(to right, #17acdd, #ffffff);

  padding: 5rem 0rem;

}
.hero-main{
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:1rem;
}

.hero-tex{
  margin-top: 2rem;
}
.heroh{
  font-size: 4rem;
  width: 100%;
  color: white;
  margin-bottom: 1rem
}
.herop{
  margin-top: 1rem;
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  color: rgb(255, 255, 255);
  margin-bottom: 1rem
}
.hero-img{
  width: 100%;
  height: 20rem;
}
.hero-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.hero-btn button{
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin-right: 1.5rem;
  font-size: 1.5rem;
  background-color: #0089f1;
   color: #ffffff;
}
.hero-btn span{
  font-size: 1.5rem;
  color: #ffffff;
}
/*about work*/

.about-work{
  width: 100%;
  margin: 2rem 0rem;
}
.about-main{
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr  1fr 1fr;
  gap:3rem;
}

.about1{
  display: flex;
  align-items: flex-start;
  gap:1.5rem;
}
.fa-lightbulb{
  font-size: 4rem;
  color: #17acdd;

}
.abt-text{
  display: flex;
  flex-direction: column;
}
.abouth{
  font-size: 2rem;
  margin-bottom: 1rem;
}
.aboutp{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  width: 90%;
}
/*service*/

.service{
  width: 100%;
  margin: 2rem 0rem;

}
.service-head{
  text-align: center;
}
.service-head h4{
  font-size: 3rem;
  color: blue;
  font-weight: 600;
  margin-bottom: 1rem;

}
.service-head p{
  font-size: 1.5rem;
  max-width: 50rem;
margin: 0 auto;
margin-bottom: 4rem;
}
.service-main{
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}
.service-box{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  padding: 2rem 2rem;

}
.fa-sun{
  font-size: 2rem;
  color: #17acdd;
  margin-bottom: 1rem;
}
.service-box h4{
  text-align: center;
  font-size: 2rem;
  color: #000000;
  margin-bottom: 1rem;
}
.service-box p{
  text-align: center;
  font-size: 1.5rem;
  width: 80%;
}
.box-btn button{
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  border: 2px solid blue;
  background-color: white;
  color: #17acdd;
}
/*want to*/
.want{
  width: 100%;
  background-image: url(./pexels-my-photos-50266345-8007891.jpg);
  height: 15rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 4rem 0rem;
}
.want-main{
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:6rem;
}
.want-tex{
  margin-top: 4rem;
}
.want-tex h4{
  font-size: 3rem;
  color: white;
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.want-tex p{
  font-size: 1.5rem;
  width: 80%;
  color: rgb(243, 243, 243);

}

.want-btn{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.want-btn button{
 padding: 1rem 1rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  border: 2px solid rgb(10, 123, 222);
  background-color: rgb(6, 157, 233);
  margin-top: 2rem;
  color: white;
}
/*news*/

.news-head{
  max-width: 120rem;
  margin: 0 auto;
  font-size: 3rem;
  color: #17acdd;
padding-left: 2rem;
}
.news{
  width: 100%;
}

.news-main{
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  padding: 1rem 2rem;
}

.news1{
  box-shadow: 1rem 1rem 1.5rem rgb(193, 191, 191);
padding: 4rem 1rem;
border-radius: 2rem;
position: relative;
}
.news1 img{
  width: 100%;
  height: 20rem;
}
.img-label{
  padding: 1rem 1.5rem;
  background: #000000;
  color: white;
  display:inline-block;
  position:absolute;
  top:4rem;
  left:1rem;

}
.news1 h4{
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
  color: #17acdd;
}
 .news1 p{
  font-size: 1.5rem;
}

.footer1{
  width: 100%;
  background-color: rgb(195, 193, 193);
  margin: 3rem 0rem;
}
.footer-main{
  display: grid;
  grid-template-columns:  auto 1fr;
  max-width: 120rem;
  margin: 0 auto;
  gap: 2rem;
  padding: 1rem 1rem;
}
.footer-ul,
.footer-ul2{
  list-style: none;
  line-height: 5rem;
  gap: 2rem;
  font-size: 2.5rem;
}
.footer-ul2{
margin-left: 6rem;
}
.footer-ul li:first-child,
.footer-ul2 li:first-child {
  font-weight: bold;
  font-size:2rem;
  color: #0089f1;
}
