html,
body {
  overflow-x: hidden;
}
/*now for 720 max width*/
@media (min-width: 481px) and (max-width: 720px) {
  html {
    font-size: 55%;
  }
  .hero-main {
    grid-template-columns: 1fr;
  }
  .hero-h {
    text-align: center;
    font-size: 6rem;
  }
  .hero-p {
    text-align: center;
    font-size: 4rem;
    line-height: 5rem;
  }
  .hero-text {
    text-align: center;
  }
  .hero-btn {
    text-align: center;
  }
  .hero-btn button {
    padding: 2rem 4rem;
    font-size: 3rem;
    font-weight: 600;
  }
  .hero-img img {
    width: 100%;
    height: 50rem;
    padding: 1.5rem;
  }
  .quality-main {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  .qu3 {
    grid-column: -3/-1;
  }
  .qu1 p,
  .qu1 h4,
  .qu2 p,
  .qu2 h4,
  .qu3 p,
  .qu3 h4 {
    padding-top: 2rem;
    width: 100%;
    font-size: 3rem;
  }

  .fa-anchor {
    font-size: 5rem;
  }
  .company-h {
    font-size: 5rem;
    font-weight: 600;
  }
  .companey-p {
    font-size: 3rem;
    width: 100%;
    text-align: center;
    line-height: 4rem;
  }
  .company-btn {
    text-align: center;
    margin-top: 2rem;
  }
  .company-btn button {
    padding: 2rem 4rem;
    font-size: 2rem;
  }

  .things-main {
    grid-template-columns: 1fr;
  }
  .things-text {
    align-items: center;
  }
  .thingsh {
    font-size: 5rem;
    width: 100%;
    padding: 2rem;
    text-align: center;
  }
  .thinsp {
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }
  .thingsp2 {
    font-size: 3rem;
    width: 100%;
    text-align: center;
    line-height: 4rem;
  }
  .thins-btn {
    text-align: center;
    margin-bottom: 2rem;
  }
  .thins-btn button {
    padding: 2rem 4rem;
    font-size: 2rem;
    font-weight: 600;
  }
  .service-head h3,
  .service-head p {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 4rem;
  }
  .service-main {
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
  }
  .service1 {
    align-items: center;
  }
  .service1 h3 {
    font-size: 4rem;
    text-align: center;
  }
  .service1 p {
    font-size: 3rem;
    text-align: center;
    width: 100%;
    padding: 1.5rem;
  }
  .service-btn button {
    padding: 2rem 4rem;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  .things-main2 {
    grid-template-columns: 1fr;
  }
  .things-text2 {
    align-items: center;
  }
  .thingsh2 {
    font-size: 5rem;
    width: 100%;
    padding: 2rem;
    text-align: center;
  }
  .thinsp2 {
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }
  .thingsp22 {
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }
  .thins-btn2 {
    text-align: center;
    margin-bottom: 2rem;
  }
  .last-main {
    grid-template-columns: 1fr;
  }
  .last-text h4 {
    text-align: center;
    font-size: 6rem;
  }
  .last-text p {
    text-align: center;
    font-size: 4rem;
    line-height: 5rem;
    padding: 2rem;
  }
  .last-btn {
    text-align: center;
    margin-top: -1rem;
  }
  .last-btn button {
    padding-left: 2rem 4rem;
    font-size: 3rem;
    font-weight: 600;
  }
  .last-text p {
    margin-bottom: 1rem;
  }
  .bs h4 {
    font-size: 6rem;
  }
  .bs p {
    font-size: 5rem;
  }
  .bs-btn button {
    padding: 2rem 4rem;
    font-size: 3rem;
    font-weight: 600;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 50%;
  }
  .hero-main {
    grid-template-columns: 1fr;
  }
  .hero-h {
    text-align: center;
  }
  .hero-p {
    text-align: center;
    font-size: 3rem;
  }
  .hero-text {
    text-align: center;
  }
  .hero-btn {
    text-align: center;
  }
  .hero-img img {
    width: 100%;
    height: 30rem;
    padding: 1.5rem;
  }
  .quality-main {
    grid-template-columns: 1fr;
  }
  .qu1 p,
  .qu1 h4,
  .qu2 p,
  .qu2 h4,
  .qu3 p,
  .qu3 h4 {
    padding-top: 2rem;
    width: 100%;
    font-size: 3rem;
  }

  .things-main {
    grid-template-columns: 1fr;
  }
  .things-text {
    align-items: center;
  }
  .thingsh {
    font-size: 5rem;
    width: 100%;
    padding: 2rem;
    text-align: center;
  }
  .thinsp {
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }
  .thingsp2 {
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }
  .thins-btn {
    text-align: center;
    margin-bottom: 2rem;
  }
  .service-head h3,
  .service-head p {
    text-align: center;
    padding-bottom: 2rem;
  }
  .service-main {
    grid-template-columns: 1fr;
    margin-top: 2rem;
  }
  .service1 {
    align-items: center;
  }
  .service1 h3 {
    font-size: 3rem;
    text-align: center;
  }
  .service1 p {
    font-size: 3rem;
    text-align: center;
    width: 100%;
    padding: 1.5rem;
  }

  .things-main2 {
    grid-template-columns: 1fr;
  }
  .things-text2 {
    align-items: center;
  }
  .thingsh2 {
    font-size: 5rem;
    width: 100%;
    padding: 2rem;
    text-align: center;
  }
  .thinsp2 {
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }
  .thingsp22 {
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }
  .thins-btn2 {
    text-align: center;
    margin-bottom: 2rem;
  }
  .last-main {
    grid-template-columns: 1fr;
  }
  .last-text h4 {
    text-align: center;
  }
  .last-text p {
    text-align: center;
    font-size: 3rem;
  }
  .last-btn {
    text-align: center;
    margin-top: 1rem;
  }
  .last-text p {
    margin-bottom: 1rem;
  }
  .bs h4 {
    font-size: 4rem;
  }
  .bs p {
    font-size: 3rem;
  }
}
