* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: system-ui, sans-serif;
}

/*headre*/

.headre1 {
  width: 100%;
  height: 10rem;
}
.headre-main {
  max-width: 160rem;
  margin: 0 auto;
  padding: 2rem 3rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.logo {
  width: 8rem;
  height: 5rem;
}
.logo img {
  width: 100%;
  height: 100%;
}
.navi ul {
  display: flex;
  gap: 4rem;
  list-style: none;
  text-transform: capitalize;
}
.navi ul :last-child {
  color: red;
  padding: 1rem 2.5rem;
  border: 2px solid red;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
}
.menu {
  display: none;
}
.headre-img {
  background-image: url(../Images/h1_hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*hero*/
.hero {
  width: 100%;
  height: 55rem;
}
.hero-main {
  max-width: 160rem;
  margin: 0 auto;
  padding: 8rem 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.hero-main p {
  color: red;
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 3rem;
}
.hero-main h4 {
  color: rgb(0, 0, 0);
  font-size: 6rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  width: 60%;
  text-align: start;
  line-height: 1.2;
}

/*about*/

.about {
  width: 100%;
  height: 100%;
}
.about-main {
  max-width: 160rem;
  margin: 0 auto;
  padding: 8rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}
.about-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
.text1 h4 {
  font-size: 4.5rem;
  width: 90%;
  text-align: start;
  text-transform: capitalize;
  margin-bottom: 2rem;
  line-height: 1.3;
}
.text1-p1 {
  font-size: 2rem;
  color: red;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}
.text1 p {
  font-size: 1.6rem;
  width: 90%;
  text-align: start;
  text-transform: capitalize;
  line-height: 1.8;
}

.text2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.text21 {
  display: flex;
  gap: 1.5rem;
}
.text21-icon {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
}
.fa-burger,
.fa-wine-bottle,
.fa-pizza-slice,
.fa-martini-glass-empty {
  font-size: 3rem;
}
.text21-text {
  font-size: 1.5rem;
  text-transform: capitalize;
  line-height: 1.6;
}
.about-img {
  width: 100%;
}
.about-img img {
  width: 100%;
  object-fit: cover;
  height: 60rem;
}

/*about2*/

.about2 {
  width: 100%;
  height: 100%;
}
.about2-main {
  max-width: 160rem;
  margin: 0 auto;
  padding: 8rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}
.about2-img {
  width: 100%;
}
.about2-img img {
  width: 100%;
  object-fit: cover;
  height: 60rem;
}
.about2-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.about2-p1 {
  font-size: 2rem;
  color: red;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.about2-text h4 {
  font-size: 4.5rem;
  width: 90%;
  text-align: start;
  text-transform: capitalize;
  margin-bottom: 1rem;
  line-height: 1.3;
}
.about2-text p {
  font-size: 1.6rem;
  width: 90%;
  text-align: start;
  text-transform: capitalize;
  line-height: 1.8;
}
.about2-btn {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 90%;
  margin-top: 2rem;
}
.about2-btn button {
  padding: 1.5rem 3.5rem;
  background-color: transparent;
  border: 2px solid red;
  border-radius: 2rem;
  font-size: 1.6rem;
}

.tabel {
  width: 100%;
  height: auto;
  background-image: url(../Images/h1_hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6rem 0;
}
.table-head {
  text-align: center;
  margin-bottom: 4rem;
}
.table-head p {
  font-size: 2rem;
  text-transform: capitalize;
  color: red;
  margin-bottom: 1.5rem;
}
.table-head h4 {
  font-size: 5rem;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 1.3;
}
.table-main {
  max-width: 160rem;
  margin: 0 auto;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  background-color: rgb(255, 249, 249);
  border-radius: 2rem;
}
.tabel1,
.tabel2 {
  padding: 2rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  background-color: rgb(187, 178, 178);
  border-radius: 1rem;
  font-size: 1.6rem;
}

.table1-icon {
}
.tabel-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabel-btn button {
  padding: 2rem 6rem;
  background-color: red;
  border: 2px solid white;
  border-radius: 1rem;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
}

/*services*/

.service {
  width: 100%;
  padding: 6rem 0;
}

.service-head {
  text-align: center;
  margin-bottom: 5rem;
}
.service-head h4 {
  font-size: 4.5rem;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 1.3;
}
.service-head p {
  font-size: 2rem;
  color: red;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}
.service-main {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.service1,
.service1-two {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 5rem 3rem;
}

.fa-alarm-clock,
.fa-utensils,
.fa-martini-glass {
  font-size: 5rem;
}
.service1-text {
  text-align: center;
  width: 90%;
}
.service1-text h4 {
  font-size: 2.2rem;
  text-transform: capitalize;
  margin: 2rem 0;
  font-weight: 600;
}
.service1-text p {
  font-size: 1.5rem;
  text-transform: capitalize;
  line-height: 1.8;
}
.service1-two {
  box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}
/*footer*/

.footer1 {
  width: 100%;
  height: 100%;
  background-image: url(../Images//section_bg02.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.footer-main {
  max-width: 160rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 5rem 3rem;
}
.footer-logo {
  width: 15rem;
  height: 10rem;
}
.footer-logo img {
  width: 100%;
  height: 100%;
}
.footer-navi ul {
  list-style: none;
  font-size: 1.8rem;
  color: rgb(108, 111, 111);
  text-transform: capitalize;
}
.footer-navi ul :first-child {
  color: white;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
}

.footer-navi li {
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.footer-navi li:hover {
  color: red;
}

/*responsive*/
@media (max-width: 778px) {
  html {
    font-size: 55%;
  }

  .about-main {
    grid-template-columns: 1fr;
    padding: 5rem 2rem;
    gap: 4rem;
  }
  .navi ul {
    display: none;
  }
  .hero-main h4 {
    width: 100%;
  }
  .hero-main {
    padding: 5rem 2rem;
  }
  .menu {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: rgb(81, 76, 76);
  }

  .menu span,
  .menu {
    background-color: rgb(0, 0, 0);
    padding: 1.5rem;
  }
  .fa-bars {
    color: white;
    font-size: 4rem;
    padding: 0.5rem;
  }
  .menu span {
    color: white;
    font-size: 2rem;
    align-items: center;
    text-align: center;
    margin-right: 1rem;
  }
  .hero-main h4 {
    width: 100%;
  }
  .text2 {
    grid-template-columns: 1fr 1fr;
  }
  .about-img {
    width: 100%;
  }
  .about-img img {
    width: 100%;
    object-fit: cover;
    height: auto;
  }
  .about2-main {
    grid-template-columns: 1fr;
    padding: 5rem 2rem;
    gap: 4rem;
  }
  .about2-img {
    width: 100%;
  }
  .about2-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .about2-text {
    font-size: 4rem;
  }
  .table-main {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  .tabel1,
  .tabel2,
  .tabel-btn button {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 15rem;
    font-size: 2.5rem;
  }
  .tabel1 {
    display: flex;
    flex-direction: row;
  }
  .fa-angle-down {
    display: none;
  }
  .service-main {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 2rem;
  }
}

/* Very small mobile */
@media (max-width: 480px) {
  html {
    font-size: 50%;
  }

  .navi ul {
    display: none;
  }
  .hero-main h4 {
    width: 100%;
  }
  .hero-main {
    padding: 5rem 2rem;
  }
  .menu {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: rgb(81, 76, 76);
  }

  .menu span,
  .menu {
    background-color: rgb(0, 0, 0);
    padding: 1.5rem;
  }
  .fa-bars {
    color: white;
    font-size: 4rem;
    padding: 0.5rem;
  }
  .menu span {
    color: white;
    font-size: 2rem;
    align-items: center;
    text-align: center;
    margin-right: 1rem;
  }
  .about-main {
    padding: 4rem 2rem;
  }
  .text2 {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .table-main {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  .tabel1,
  .tabel2,
  .tabel-btn button {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 10rem;
    font-size: 2.5rem;
  }
  .tabel1 {
    display: flex;
    flex-direction: row;
  }
  .fa-angle-down {
    display: none;
  }
  .service-main {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 2rem;
  }
  .footer-main {
    flex-direction: column;
    padding: 4rem 2rem;
    gap: 3rem;
  }
}

/* small screen 360px*/
@media (max-width: 360px) {
  html {
    font-size: 45%;
  }

  .navi ul {
    display: none;
  }
  .hero-main h4 {
    width: 100%;
  }
  .hero-main {
    padding: 5rem 2rem;
  }
  .menu {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: rgb(81, 76, 76);
  }

  .menu span,
  .menu {
    background-color: rgb(0, 0, 0);
    padding: 1.5rem;
  }
  .fa-bars {
    color: white;
    font-size: 4rem;
    padding: 0.5rem;
  }
  .menu span {
    color: white;
    font-size: 2rem;
    align-items: center;
    text-align: center;
    margin-right: 1rem;
  }
  .about-main {
    padding: 4rem 2rem;
  }
  .text2 {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .table-main {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  .tabel1,
  .tabel2,
  .tabel-btn button {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 10rem;
    font-size: 2.5rem;
  }
  .tabel1 {
    display: flex;
    flex-direction: row;
  }
  .fa-angle-down {
    display: none;
  }
  .service-main {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 2rem;
  }
  .footer-main {
    flex-direction: column;
    padding: 4rem 2rem;
    gap: 3rem;
  }
}
